* {
	box-sizing: border-box;
	margin: 0;
}

html {
	background: lightcyan;
}

body {
	margin: 100px auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Poppins", sans-serif;
	background: white;
	width: 550px;
	height: 693px;
	border-radius: 7px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

h2 {
	font-size: 25px;
	margin-top: 4px;
	margin-bottom: 7px;
}

p {
	color: #2b283a;
	font-size: 10px;
}

a {
	color: #268fd4;
	font-size: 10px;
}

nav {
	border-radius: 7px 7px 0 0;
	position: relative;
	width: 100%;
	height: 55px;
	background: #268fd4;
	color: #1d1717;
	font-weight: 400;
	font-size: 15px;
	box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding-top: 16px;
	margin-bottom: 45px;
}

.card--container {
	position: relative;
	margin: 0 40px 36px 40px;
	display: flex;
	align-items: center;
}

.card--info {
	/* padding-left: 19px; */
	margin: 10px 0 auto 19px;
	width: 326px;
	height: 128px;
}

.hline {
	position: absolute;
	content: "";
	display: block;
	width: 478px;
	height: 1px;
	background: #f5f5f5;
	bottom: -18px;
}

.inline {
	display: flex;
	align-items: center;
}

.inline > img {
	width: auto;
	height: 100%;
	margin-right: 4px;
}

.inline > p {
	margin-right: 12px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

.dates {
	font-weight: bold;
	margin-bottom: 9px;
}
